* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.navbar {
    background-color: black;
    font-size: 2rem;
}


#Home {
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 80vh;
    color: #fff;
    z-index: 1;
}

#Home button {
    z-index: 5;
    background-color: black;
    color: white;
    text-shadow: 4px 3px 5px rgba(0, 0, 0, 1),
             -2px 4px 5px rgba(0, 0, 0, 1);
    margin-top: 20px;
    margin-left: 50vw;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#Home button:hover {
    transform: scale(1.1);
}

#Home h1 {
    color: rgb(255, 255, 255);
    text-shadow: 4px 3px 5px rgba(0, 0, 0, 1),
             -2px 4px 5px rgba(0, 0, 0, 1);
    font-weight: bolder;
    text-align: center;
}
#Home p {
    color: rgb(255, 255, 255);
    text-shadow: 4px 3px 5px rgba(0, 0, 0, 1),
             -2px 4px 5px rgba(0, 0, 0, 1);
    font-weight: bolder;
    text-align: center; 
}

#About{
    height: auto;
}

#About h2{
    text-shadow: 4px 3px 5px rgb(210, 209, 209),
             -2px 4px 5px rgb(161, 144, 144);
    color: #000;
    font-weight: bolder;
    text-align: center; 
    padding-top: 2vh ;
    font-size: 2.8rem;
}

#About p{
    color: #000;
    font-weight: bolder;
    text-align: center; 
    padding-top: 2vh ;
    font-size: 1.8rem;
}

#Templates h2{
    text-shadow: 4px 3px 5px rgb(210, 209, 209),
             -2px 4px 5px rgb(161, 144, 144);
    color: #000;
    font-weight: bolder;
    text-align: center; 
    padding-top: 2vh ;
    font-size: 2.8rem;
}

#Templates p{
    color: #000;
    text-align: center; 
    padding-top: 2vh ;
    font-size: 2.0rem;
}

.card:hover{
    transform: scale(105%);
    transition: 300ms;
    box-shadow: #000;
}